.main-nav{
    position: relative;
    background: white;
    padding: 12px 0px;
    position: sticky;
    top: 0;
    z-index: 999;
    border-radius: 0px 0px 20px 20px;
    background: #FFF;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);

    &.hm-nav{
        background: transparent;
        position: absolute;
        width: 100%;
        top: 0;
        padding: 20px 0px;
        box-shadow: none !important;
        border-radius: 0px;

        .nav-list{

            li{

                a{
                    color: white !important;
                }
            }
        }

        .inner-nav{

            .menu-btn{

                img{
                    filter: invert(0%);
                }
            }

            .main-btn{
                border: 1px solid white !important;
                background: transparent;

                span{
                    color: white;
                    font-variation-settings: 'wght' 700;
                }
            }
        }
    }

    .inner-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // padding: 0px 3em;

        .menu-btn{

            img{
                filter: invert(100%);
            }
        }

        .main-btn{
            padding: 12px 30px;
            border-radius: 100px;
            background: var(--dark);
            box-shadow: none !important;

            span{
                font-size: 16px;
                color: white;
                font-weight: 500;
            }
        }

        .l-part{
            position: relative;
            display: flex;
            align-items: center;
            gap: 20px;

            .logo{
                position: relative;
                display: inline-block;

                img{
                    width: 150px;
                }
            }
        }
        .m-part{
            position: relative;
            display: flex;
            align-items: center;
            gap: 30px;

            .nav-list{
                display: flex;
                align-items: center;
                gap: 30px;

                li {
                    position: relative;

                    a{
                        display: inline-block;
                        color: #808080;
                        font-size: 16px;
                        position: relative;
                        font-variation-settings: 'wght' 700;
                        // font-size: 16px;

                        &.active, &:hover{
                            &::after{
                                opacity: 1;
                                transform: translateX(-50%) translateY(10px) scale(1);
                            }
                        }

                        &::after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%) translateY(10px) scale(0);
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            opacity: 0;
                            transition: 0.2s ease-in-out;
                            background: white;
                        }
                    }
                }
            }
        }
        .r-part{
            position: relative;

        }
    }
}
.ot-list{
    display: flex;
    align-items: center;
    gap: 20px;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--orange);
    padding: 8px 3em;

    .con-l{
        display: flex;
        align-items: center;

        li{

            a{
                position: relative;
                display: flex;
                align-items: center;
                color: white;
                font-family: 'visbyMedium', sans-serif;
                font-size: 16px;

                img{
                    width: 20px;
                    margin-right: 10px;
                }

                span{
                    color: white;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
    .soc-list{
        display: flex;
        align-items: center;
        gap: 12px;
    }
}
.mobile-nav{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--dark-blue);
    padding: 0em 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s ease-in-out;

    .menu-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 1em;
        padding-right: 2em;
        margin-bottom: 0.5em;
        position: sticky;
        top: 0;
        z-index: 88;
        background: var(--blue);
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.08);

        .logo{
            display: block;
            width: 140px;

            img{
                width: 100%;
                // filter: invert(100%) brightness(10000%);
            }
        }
    }

    &.active{
        opacity: 1;
        transform: translateX(0px);
    }

    .menu-close{
        // position: absolute;
        // top: 0.7em;
        // right: 1.5em;
        z-index: 5;
        background: transparent;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;


        img{
            width: 15px;
            height: 15px;
        }
    }

    .nav-list{

        .drop-mega{
            padding-top: 0.5em;
            padding-left: 1.2em;
        }

        .srv-link{
            padding: 12px 1.5em !important;
            display: block;
            color: white !important;
            font-size: 14px;

            .ic{
                display: none !important;
            }
        }

        > li{

            > a{
               
                padding: 15px 1.5em;
                border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
                display: flex;
                justify-content: space-between;
                
                align-items: center;

                span{
                    color: white;
                    font-size: 16px;
                    font-family: 'visbySemibold', sans-serif;
                }

                img{
                    // filter: invert(100%);
                }
            }
        }
    }
}
.menu-btn{
    background: transparent;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    display: none;

    img{
        width: 30px;
    }
}
.has-drop-down{
    position: relative;

    &:hover{

        .drop-mega{
            opacity: 1;
            pointer-events: unset;
            transform: translateY(0px);
        }
    }

    .drop-mega{
        position: absolute;
        top: 100%;
        left: 0;
        padding-top: 20px;
        min-width: 200px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

        ul{
            padding: 1em 1.5em !important;
            // padding-right: 1em;
            background: white;
            box-shadow: 0px 0px 30px 0px rgba($color: #000000, $alpha: 0.08);
            position: relative;

            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 1.5em;
                width: 25px;
                height: 25px;
                background: url(../images/top-tip.svg) center/contain no-repeat;
                transform: translateY(-50%);
            }

            a{

                span{
                    color: #1e1e1e;
                    font-weight: 500;
                    transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);   
                }
            }

            .srv-link{
                display: flex !important;
                align-items: center;
                gap: 12px;
                padding: 8px 0px;
                overflow: hidden;
                position: relative;
                min-width: max-content;

                &:hover{

                    &:before{
                        transform: translateY(-50%) translateX(0px);
                    }

                    span{
                        margin-left: 20px;
                        color: var(--blue);
                    }
                }

                &:before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) translateX(-100%);
                    left: 0;
                    width: 17px;
                    height: 17px;
                    background: url(../images/blue-arrow.svg) center/cover no-repeat var(--blue);
                    transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
                    border-radius: 50%;
                }

                .ic{
                    $ss: 40px;
                    width: $ss;
                    height: $ss;
                    border-radius: 5px;
                    background: rgba($color: #014293, $alpha: 0.08);
                    display: flex;
                    display: none;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
}