@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "satoshi";
  src: url("../fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "satoshi", sans-serif;
  font-variation-settings: "wght" 400;
}

:root {
  --accent01: #008978;
  --gr: radial-gradient(210.19% 141.6% at 39.97% -50.93%, #1DD3B0 0%, #16AC8F 100%);
  --dark: #2C2C2C;
  --dark-blue: #3120D2;
}

li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.main-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background: var(--dark-blue);
  padding: 15px 35px;
  outline: none;
  border: none;
  border-radius: 100px;
  overflow: hidden;
  min-width: -moz-max-content;
  min-width: max-content;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  border: none;
  outline: none;
}
.main-btn.white-btn {
  background: white;
}
.main-btn.white-btn span {
  color: var(--dark-blue);
}
.main-btn:hover {
  transform: scale(0.95) !important;
  box-shadow: none !important;
}
.main-btn:active {
  filter: brightness(105%);
}
.main-btn span {
  color: white;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  font-variation-settings: "wght" 500;
  z-index: 5;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}
.main-btn span span {
  font-size: 1.3em;
  font-weight: 700;
}
.main-btn.block-btn {
  width: 100%;
  display: block;
  text-align: center;
}
.main-btn.center {
  display: flex;
  max-width: -moz-max-content;
  max-width: max-content;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}
.main-btn.white {
  background: white;
}
.main-btn.white span {
  color: black;
}
.main-btn.border-btn {
  background: transparent;
  border: 1px solid black;
}
.main-btn.border-btn span {
  color: black;
}

.sec-head {
  font-size: 42px;
  font-variation-settings: "wght" 700;
}

.para {
  font-size: 18px;
  color: #787878;
  font-variation-settings: "wght" 400;
  line-height: 140%;
}

/* firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #69B444 transparent;
}

.custom-scrollbar:-webkit-scrollbar {
  width: 11px;
}

.custom-scrollbar:-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar:-webkit-scrollbar-thumb {
  background-color: #69B444;
  border-radius: 6px;
  border: 3px solid transparent;
}

/* webkit browsers */
.custom-scrollbar::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar-thumb {
  height: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.sec {
  padding: 5em 0px;
  overflow: hidden;
}

.para {
  font-size: 16px;
}
.para.white {
  color: white;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-110 {
  margin-bottom: 110px;
}

.mt-120 {
  margin-bottom: 120px;
}

.mt-130 {
  margin-bottom: 130px;
}

.mt-140 {
  margin-bottom: 140px;
}

.mt-150 {
  margin-bottom: 150px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-150 {
  margin-bottom: 150px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-110 {
  padding-bottom: 110px;
}

.pt-120 {
  padding-bottom: 120px;
}

.pt-130 {
  padding-bottom: 130px;
}

.pt-140 {
  padding-bottom: 140px;
}

.pt-150 {
  padding-bottom: 150px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-150 {
  padding-bottom: 150px;
}

.main-nav {
  position: relative;
  background: white;
  padding: 12px 0px;
  position: sticky;
  top: 0;
  z-index: 999;
  border-radius: 0px 0px 20px 20px;
  background: #FFF;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}
.main-nav.hm-nav {
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 20px 0px;
  box-shadow: none !important;
  border-radius: 0px;
}
.main-nav.hm-nav .nav-list li a {
  color: white !important;
}
.main-nav.hm-nav .inner-nav .menu-btn img {
  filter: invert(0%);
}
.main-nav.hm-nav .inner-nav .main-btn {
  border: 1px solid white !important;
  background: transparent;
}
.main-nav.hm-nav .inner-nav .main-btn span {
  color: white;
  font-variation-settings: "wght" 700;
}
.main-nav .inner-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav .inner-nav .menu-btn img {
  filter: invert(100%);
}
.main-nav .inner-nav .main-btn {
  padding: 12px 30px;
  border-radius: 100px;
  background: var(--dark);
  box-shadow: none !important;
}
.main-nav .inner-nav .main-btn span {
  font-size: 16px;
  color: white;
  font-weight: 500;
}
.main-nav .inner-nav .l-part {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-nav .inner-nav .l-part .logo {
  position: relative;
  display: inline-block;
}
.main-nav .inner-nav .l-part .logo img {
  width: 150px;
}
.main-nav .inner-nav .m-part {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
}
.main-nav .inner-nav .m-part .nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.main-nav .inner-nav .m-part .nav-list li {
  position: relative;
}
.main-nav .inner-nav .m-part .nav-list li a {
  display: inline-block;
  color: #808080;
  font-size: 16px;
  position: relative;
  font-variation-settings: "wght" 700;
}
.main-nav .inner-nav .m-part .nav-list li a.active::after, .main-nav .inner-nav .m-part .nav-list li a:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(10px) scale(1);
}
.main-nav .inner-nav .m-part .nav-list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(10px) scale(0);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s ease-in-out;
  background: white;
}
.main-nav .inner-nav .r-part {
  position: relative;
}

.ot-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--orange);
  padding: 8px 3em;
}
.top-bar .con-l {
  display: flex;
  align-items: center;
}
.top-bar .con-l li a {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  font-family: "visbyMedium", sans-serif;
  font-size: 16px;
}
.top-bar .con-l li a img {
  width: 20px;
  margin-right: 10px;
}
.top-bar .con-l li a span {
  color: white;
  font-weight: 500;
  font-size: 14px;
}
.top-bar .soc-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.mobile-nav {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--dark-blue);
  padding: 0em 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.mobile-nav .menu-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em;
  padding-right: 2em;
  margin-bottom: 0.5em;
  position: sticky;
  top: 0;
  z-index: 88;
  background: var(--blue);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.mobile-nav .menu-head .logo {
  display: block;
  width: 140px;
}
.mobile-nav .menu-head .logo img {
  width: 100%;
}
.mobile-nav.active {
  opacity: 1;
  transform: translateX(0px);
}
.mobile-nav .menu-close {
  z-index: 5;
  background: transparent;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.mobile-nav .menu-close img {
  width: 15px;
  height: 15px;
}
.mobile-nav .nav-list .drop-mega {
  padding-top: 0.5em;
  padding-left: 1.2em;
}
.mobile-nav .nav-list .srv-link {
  padding: 12px 1.5em !important;
  display: block;
  color: white !important;
  font-size: 14px;
}
.mobile-nav .nav-list .srv-link .ic {
  display: none !important;
}
.mobile-nav .nav-list > li > a {
  padding: 15px 1.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav .nav-list > li > a span {
  color: white;
  font-size: 16px;
  font-family: "visbySemibold", sans-serif;
}
.menu-btn {
  background: transparent;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  display: none;
}
.menu-btn img {
  width: 30px;
}

.has-drop-down {
  position: relative;
}
.has-drop-down:hover .drop-mega {
  opacity: 1;
  pointer-events: unset;
  transform: translateY(0px);
}
.has-drop-down .drop-mega {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 20px;
  min-width: 200px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.has-drop-down .drop-mega ul {
  padding: 1em 1.5em !important;
  background: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
  position: relative;
}
.has-drop-down .drop-mega ul:after {
  content: "";
  position: absolute;
  top: 0;
  left: 1.5em;
  width: 25px;
  height: 25px;
  background: url(../images/top-tip.svg) center/contain no-repeat;
  transform: translateY(-50%);
}
.has-drop-down .drop-mega ul a span {
  color: #1e1e1e;
  font-weight: 500;
  transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.has-drop-down .drop-mega ul .srv-link {
  display: flex !important;
  align-items: center;
  gap: 12px;
  padding: 8px 0px;
  overflow: hidden;
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
}
.has-drop-down .drop-mega ul .srv-link:hover:before {
  transform: translateY(-50%) translateX(0px);
}
.has-drop-down .drop-mega ul .srv-link:hover span {
  margin-left: 20px;
  color: var(--blue);
}
.has-drop-down .drop-mega ul .srv-link:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
  left: 0;
  width: 17px;
  height: 17px;
  background: url(../images/blue-arrow.svg) center/cover no-repeat var(--blue);
  transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  border-radius: 50%;
}
.has-drop-down .drop-mega ul .srv-link .ic {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: rgba(1, 66, 147, 0.08);
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
}
.has-drop-down .drop-mega ul .srv-link .ic img {
  width: 20px;
}

.main-header {
  position: relative;
  padding-top: 8em;
  overflow: hidden;
}
.main-header > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: scale(1.2);
}
.main-header > img:nth-child(1) {
  filter: blur(10px);
}
.main-header .container {
  position: relative;
  z-index: 5;
}
.main-header .slant {
  position: absolute;
  bottom: -2px;
  transform: translateY(30%);
  left: 0;
  top: unset;
  left: unset;
  width: 100%;
  height: auto;
}

.banner-con {
  color: white !important;
  margin-top: -120px;
}
.banner-con p {
  font-variation-settings: "wght" 500;
  font-size: 18px;
  margin-bottom: 1.5em;
  color: white;
}
.banner-con h3 {
  font-variation-settings: "wght" 500;
  font-size: 20px;
}
.banner-con h1 {
  font-variation-settings: "wght" 900;
  font-size: 62px;
  line-height: 100%;
}
.banner-con h1 span {
  mix-blend-mode: overlay !important;
  font-variation-settings: "wght" 900;
}

.header-img {
  position: relative;
  width: 100%;
}
.header-img img {
  width: 100%;
}

.logo-swiper .logo {
  height: 40px;
}
.logo-swiper .logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.img-full {
  width: 100%;
}

.white {
  color: white;
}

.dash-sec {
  position: relative;
  padding: 15em 0px;
  background: url(../images/mesh.jpg) center/cover no-repeat;
}
.dash-sec > img {
  position: absolute;
  width: 100%;
}
.dash-sec > img:nth-child(1) {
  top: 0;
  left: 0;
  transform: translateY(-30%);
}
.dash-sec > img:nth-child(2) {
  bottom: 0;
  left: 0;
  transform: translateY(30%);
}
.dash-sec .container {
  position: relative;
  z-index: 5;
}

.bl-card {
  position: relative;
}
.bl-card img {
  width: 100%;
}
.bl-card h3 {
  font-variation-settings: "wght" 500;
  color: black;
  font-size: 28px;
  line-height: 120%;
  margin-top: 15px;
}

.label-text {
  font-size: 16px;
  font-variation-settings: "wght" 500;
  margin-bottom: 7px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}
.form-group .inp-grp {
  width: 100%;
}
.form-group .inp-grp input, .form-group .inp-grp textarea, .form-group .inp-grp select {
  padding: 12px 20px;
  width: 100%;
  border-radius: 5px;
  background: #F8F8F8;
  outline: none;
  border: none;
  box-shadow: none !important;
  transition: 0.3s ease-in-out;
  border: 1px solid transparent;
}
.form-group .inp-grp input:focus, .form-group .inp-grp textarea:focus, .form-group .inp-grp select:focus {
  border: 1px solid var(--dark-blue);
  background: white;
  box-shadow: 0px 0px 0px 5px rgba(49, 32, 210, 0.15) !important;
}

.container-left {
  padding-left: 18%;
}

.container-right {
  padding-right: 18%;
}

@media (max-width: 767px) {
  .container-left, .container-right {
    padding: 0px 1em !important;
  }
}
.cta-sec {
  background: #1D64FC;
  overflow: hidden;
}

.cta-con {
  padding: 5em 0px;
}
.cta-con h5 {
  font-size: 18px;
  font-variation-settings: "wght" 500;
  margin-bottom: 10px;
}

.cta-wrap {
  position: relative;
}
.cta-wrap a {
  display: inline-block;
  width: 180px;
}
.cta-wrap a img {
  width: 100%;
}

.cta-img {
  transform: scale(1.05);
}
.cta-img img {
  width: 100%;
}

.soc-li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}
.soc-li li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.soc-li li a:hover {
  background: var(--dark-blue);
}
.soc-li li a:hover i {
  color: white;
}
.soc-li li a i {
  font-size: 20px;
  color: black;
  transition: 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ft-btm {
  padding: 1.2em 0px;
  margin-top: 3em;
}
.ft-btm p {
  text-align: center;
  margin-bottom: 0;
}

.ft-list {
  position: relative;
}
.ft-list li a {
  color: #585858;
  padding: 5px 0px;
  display: inline-block;
  font-variation-settings: "wght" 500;
}

.main-footer {
  padding: 5em 0px;
  padding-bottom: 0;
}

.ft-head {
  font-variation-settings: "wght" 700;
  font-size: 20px;
  margin-bottom: 0.75em;
}

.page-header {
  position: relative;
  padding-top: 4em;
  overflow: hidden;
  margin-top: -20px;
}
.page-header > img {
  position: absolute;
  left: 0;
  bottom: 0em;
  z-index: 5;
  width: 100px;
}
.page-header .row {
  position: relative;
  z-index: 5;
}
.page-header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 67%;
  background: #EAF4FF;
}

.page-header-con {
  padding: 3em 0px;
}

.row-gap-25 {
  row-gap: 25px;
}

@keyframes rotate {
  0% {
    transform: translateX(-30%) translateY(30%) rotate(0deg);
  }
  100% {
    transform: translateX(-30%) translateY(30%) rotate(360deg);
  }
}
.ic-wrap {
  padding: 1.5em 1.5em;
  text-align: center;
  border-radius: 20px;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background: white;
}
.ic-wrap:hover:before {
  box-shadow: 0px 0px 50px 0px rgba(7, 5, 26, 0.25);
}
.ic-wrap:hover:after {
  opacity: 1;
}
.ic-wrap > * {
  position: relative;
  z-index: 8;
}
.ic-wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 20px;
  z-index: 5;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.ic-wrap:after {
  content: "";
  border-radius: 25px 28px 20px 22px;
  background: var(--dark-blue);
  bottom: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  transform: translateX(-30%) translateY(30%);
  animation: rotate 1.5s infinite linear;
  z-index: 2 !important;
  opacity: 0;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.ic-wrap img {
  width: 80px;
  margin-bottom: 1em;
}
.ic-wrap h3 {
  color: #1D1D1D;
  font-variation-settings: "wght" 700;
  font-size: 24px;
  margin-bottom: 0;
}

.pr-sec {
  padding-top: 5em;
  position: relative;
  background: #EAF4FF;
  overflow: hidden;
}

.con-l {
  display: flex;
  align-items: center;
  gap: 15px;
}
.con-l span {
  font-variation-settings: "wght" 500;
  color: #1D1D1D;
  font-size: 20px;
  line-height: 120%;
}

.con-map {
  padding-top: 28%;
  position: relative;
  overflow: hidden;
  border-radius: 32px;
  background: grey;
  margin-top: 2.3em;
}
.con-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}/*# sourceMappingURL=main.css.map */